Repository code-to-json/code-to-json: changes, and which Codecov flags are due for each by the changed paths.
All: cli, core, formatter, schema, test-helpers, utils, utils-ts

.codecov.yml:

ignore:
  - 'samples'
  - 'packages/code-to-json'
  - 'packages/test-helpers/test-cases'

coverage:
  status:
    project:
      default: off
      cli:
        flags: cli
      core:
        flags: core
      formatter:
        flags: formatter
      schema:
        flags: schema
      test-helpers:
        flags: test-helpers
      utils:
        flags: utils
      utils-ts:
        flags: utils-ts

flags:
  cli:
    paths:
      - packages/cli/
  core:
    paths:
      - packages/core/
  formatter:
    paths:
      - packages/formatter/
  schema:
    paths:
      - packages/schema
  test-helpers:
    paths:
      - packages/test-helpers
  utils:
    paths:
      - packages/utils
  utils-ts:
    paths:
      - packages/utils-ts

chore: sort public API surface test array
  packages/utils-ts/test/public-api-surface.test.ts
Due: utils, utils-ts

chore(release): publish new release [skip ci]
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/code-to-json/CHANGELOG.md
  packages/code-to-json/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/formatter/CHANGELOG.md
  packages/formatter/package.json
  packages/schema/CHANGELOG.md
  packages/schema/package.json
  packages/test-helpers/CHANGELOG.md
  packages/test-helpers/package.json
  packages/utils-ts/CHANGELOG.md
  packages/utils-ts/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: cli, core, formatter, schema, test-helpers, utils, utils-ts

chore: update codecov configuration
  .codecov.yml
  .travis.yml
Due: none

ci: only transmit code coverage on PR-push builds
  .travis.yml
  .travis/is-pr-push.sh
Due: none

ci: always measure coverage on mater
  .travis.yml
  .travis/is-pr-push.sh
Due: none

chore: explicitly re-export
  packages/utils-ts/src/index.ts
Due: utils, utils-ts

feat: meaningful error messages on ts compile error
  packages/utils-ts/src/guards.ts
  packages/utils-ts/src/transpile.ts
  packages/utils-ts/test/transpile.test.ts
Due: utils, utils-ts

chore: disable codecov flags for now
  .codecov.yml
Due: none

chore: don't tell lerna to ignore any changes
  lerna.json
Due: none

chore: fix shellcheck violations
  .travis/_publish.sh
Due: none

chore(deps): update dependency lerna to v3.8.1
  package.json
  yarn.lock
Due: none

chore: use treeify fork w/ types
  packages/test-helpers/package.json
  packages/test-helpers/src/treeify.d.ts
  yarn.lock
Due: test-helpers

feat: transpile JS string -> ts.Program
  packages/utils-ts/src/index.ts
  packages/utils-ts/src/transpile.ts
  packages/utils-ts/test/public-api-surface.test.ts
  packages/utils-ts/test/transpile.test.ts
Due: utils, utils-ts

chore: core tests for creating ts.Programs a variety of ways
  packages/core/__snapshots__/simple-js-program.test.ts.js
  packages/core/test/simple-js-program.test.ts
Due: core

chore: jsx/tsx tests
  packages/utils-ts/test/transpile.test.ts
Due: utils, utils-ts

chore: guards tests
  packages/utils-ts/test/guards.test.ts
Due: utils, utils-ts

chore: checks tests
  packages/utils-ts/test/checks.test.ts
  packages/utils-ts/test/guards.test.ts
  packages/utils-ts/test/transpile.test.ts
Due: utils, utils-ts

chore: dir tree tests
  packages/test-helpers/src/dir-tree.ts
  packages/test-helpers/test/dir-tree.test.ts
Due: test-helpers

chore: negative tests cases for test scenario generation
  packages/test-helpers/test/test-case.test.ts
Due: test-helpers

chore: refactor CLI entry point
  packages/cli/bin/code-to-json
  packages/cli/src/index.ts
Due: cli

chore: more CLI tests
  packages/cli/src/cli.ts
  packages/cli/src/commands/run.ts
  packages/cli/src/index.ts
  packages/cli/test/cli-utils.test.ts
  packages/cli/test/cli.test.ts
Due: cli

chore: lint fixes
  packages/cli/.eslintrc.js
  packages/cli/src/cli.ts
Due: cli

chore: CLI utils tests
  packages/cli/src/command-utils.ts
  packages/cli/src/commands/run.ts
  packages/cli/test/cli-utils.test.ts
  packages/cli/test/command-utils.test.ts
Due: cli

chore: run command tests
  packages/cli/src/commands/run.ts
  packages/cli/test/command.test.ts
Due: cli

ci(azure): refactor tests to accomodate windows
  packages/cli/test/command-utils.test.ts
Due: cli

chore(vscode): exclude nyc coverage output
  .vscode/settings.json
  code-to-json.code-workspace
Due: none

chore: generateId tests
  packages/core/src/processing-queue/generate-id.ts
  packages/core/test/generate-id.test.ts
  packages/core/test/simple-js-program.test.ts
  packages/core/test/test-helpers.ts
Due: core

chore: add AMD serializer tests
  packages/core/test/generate-id.test.ts
  packages/core/test/serializers/amd-dependency.test.ts
Due: core
