Repository code-to-json/code-to-json: changes, and which Codecov flags are due for each by the changed paths.
All: core, cli, utils, formatter, schema, utils_ts, test_helpers

ci: absolute codecov paths
  .codecov.yml
  .travis.yml
Due: none

chore(release): publish new release [skip ci]
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/code-to-json/CHANGELOG.md
  packages/code-to-json/package.json
  packages/formatter/CHANGELOG.md
  packages/formatter/package.json
Due: cli, formatter

chore(deps): update dependency eslint-plugin-node to v8.0.1
  packages/cli/package.json
  packages/schema/package.json
  packages/test-helpers/package.json
  yarn.lock
Due: cli, schema, test_helpers

feat: move InvalidArgumentsError to utils
  packages/cli/src/command-utils.ts
  packages/utils/src/errors/invalid-arguments.ts
  packages/utils/src/index.ts
  packages/utils/src/types.ts
Due: cli, utils

feat: move ts program factories to utils-ts
  lerna.json
  packages/cli/src/command-utils.ts
  packages/cli/src/commands/generate-json.ts
  packages/cli/test/command-utils.test.ts
  packages/core/test/flags.test.ts
  packages/core/test/generate-id.test.ts
  packages/core/test/serializers/amd-dependency.test.ts
  packages/core/test/serializers/fn-symbol.test.ts
  packages/core/test/serializers/helpers.ts
  packages/core/test/simple-js-program.test.ts
  packages/utils-ts/.eslintrc.js
  packages/utils-ts/package.json
  packages/utils-ts/src/index.ts
  packages/utils-ts/src/program.ts
  packages/utils-ts/src/program/transpile-output-data.ts
  packages/utils-ts/src/program/transpile-output.ts
  packages/utils-ts/src/transpile.ts
  packages/utils-ts/test/checks.test.ts
  packages/utils-ts/test/guards.test.ts
  packages/utils-ts/test/program.test.ts
  packages/utils-ts/test/public-api-surface.test.ts
Due: core, cli, utils_ts

chore: ensure RefRegistry is populated for tests
  packages/core/test/serializers/fn-symbol.test.ts
Due: core

chore: hack for reference creation in tests
  packages/core/test/serializers/fn-symbol.test.ts
Due: core

chore(release): publish new release [skip ci]
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/code-to-json/CHANGELOG.md
  packages/code-to-json/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/formatter/CHANGELOG.md
  packages/formatter/package.json
  packages/schema/CHANGELOG.md
  packages/schema/package.json
  packages/test-helpers/CHANGELOG.md
  packages/test-helpers/package.json
  packages/utils-ts/CHANGELOG.md
  packages/utils-ts/package.json
Due: core, cli, formatter, schema, utils_ts, test_helpers

feat: parameterize reference system over ref-registry
  packages/cli/package.json
  packages/cli/test/cli-utils.test.ts
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/processing-queue/index.ts
  packages/core/src/processing-queue/ref.ts
  packages/core/test/serializers/fn-symbol.test.ts
  packages/core/test/serializers/source-file.test.ts
  packages/core/tsconfig.json
  packages/formatter/package.json
  packages/formatter/src/formatters/signature.ts
  packages/formatter/src/formatters/source-file.ts
  packages/formatter/src/resolve-reference.ts
  packages/formatter/tsconfig.json
  packages/schema/package.json
  packages/test-helpers/package.json
  packages/test-helpers/tsconfig.json
  packages/utils-ts/package.json
  packages/utils-ts/tsconfig.json
  packages/utils/package.json
  packages/utils/src/deferred-processing/queue.ts
  packages/utils/src/deferred-processing/ref-registry.ts
  packages/utils/src/deferred-processing/ref.ts
  packages/utils/test/deferred-processing.test.ts
  packages/utils/test/error.test.ts
  packages/utils/test/ref.test.ts
  packages/utils/tsconfig.json
Due: core, cli, utils, formatter, schema, utils_ts, test_helpers

chore: cli tests - validate log messages
  packages/cli/test/cli-utils.test.ts
Due: cli

chore(deps): update dependency eslint to v5.12.0
  packages/cli/package.json
  packages/core/package.json
  packages/formatter/package.json
  packages/schema/package.json
  packages/test-helpers/package.json
  packages/utils-ts/package.json
  packages/utils/package.json
  yarn.lock
Due: core, cli, utils, formatter, schema, utils_ts, test_helpers

chore(release): publish new release [skip ci]
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/code-to-json/CHANGELOG.md
  packages/code-to-json/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/formatter/CHANGELOG.md
  packages/formatter/package.json
  packages/schema/CHANGELOG.md
  packages/schema/package.json
  packages/test-helpers/CHANGELOG.md
  packages/test-helpers/package.json
  packages/utils-ts/CHANGELOG.md
  packages/utils-ts/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: core, cli, utils, formatter, schema, utils_ts, test_helpers

chore(deps): update dependency lerna to v3.8.5
  package.json
  yarn.lock
Due: none

feat(formatter): export options and return types
  packages/formatter/src/formatter.ts
  packages/formatter/src/index.ts
  packages/formatter/test/type-tests.ts
Due: formatter

feat: expose walker options interface
  code-to-json.code-workspace
  packages/core/src/walker/index.ts
  packages/core/src/walker/options.ts
  packages/formatter/src/formatter.ts
  packages/formatter/src/index.ts
Due: core, formatter

chore(release): publish new release [skip ci]
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/code-to-json/CHANGELOG.md
  packages/code-to-json/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/formatter/CHANGELOG.md
  packages/formatter/package.json
Due: core, cli, formatter

fix(core): export WalkerOptions type
  packages/core/src/index.ts
Due: core

chore(build): update watch scripts
  .prettierignore
  scripts/build/watch.sh
Due: none

chore(deps): update dependency lerna to v3.9.0
  package.json
  yarn.lock
Due: none

ci: codecov flag for utils-node
  .codecov.yml
  packages/utils-node/package.json
Due: none

chore(build): shell script - direct exit check instead of indirect
  scripts/build/watch.sh
Due: none

chore: windows fixes for build scripts
  package.json
  packages/code-to-json/cp-readme.js
  packages/code-to-json/package.json
  scripts/build.sh
Due: none

chore: remove unused import
  packages/code-to-json/cp-readme.js
Due: none

chore: properly build path to root README
  packages/code-to-json/cp-readme.js
Due: none

fix(windows): module normalization windows fixes
  packages/utils-node/src/node-host.ts
  packages/utils-ts/src/host.ts
  packages/utils-ts/src/module-path-normalizer.ts
  packages/utils-ts/test/module-path-normalizer.test.ts
Due: utils_ts

chore: test fixes
  packages/core/.eslintrc.js
  packages/core/test/serializers/helpers.ts
  packages/utils-ts/.eslintrc.js
  packages/utils-ts/test/helpers.ts
  packages/utils-ts/test/module-path-normalizer.test.ts
  packages/utils-ts/test/program.test.ts
Due: core, utils_ts

chore: cleanup unused imports
  packages/formatter/test/formatters/flags.test.ts
  packages/formatter/test/formatters/source-file.test.ts
  packages/formatter/test/formatters/symbol.test.ts
  packages/formatter/test/resolve-reference.test.ts
  packages/utils-ts/test/module-path-normalizer.test.ts
  packages/utils-ts/test/program.test.ts
  packages/utils-ts/test/public-api-surface.test.ts
Due: formatter, utils_ts

chore: remove test filter
  packages/utils-ts/test/module-path-normalizer.test.ts
Due: utils_ts

fix: remove out-of-range bitshift
  packages/core/test/serializers/source-file.test.ts
  packages/core/test/serializers/symbol.test.ts
  packages/utils-ts/src/generate-id.ts
  packages/utils-ts/test/generate-id.test.ts
  packages/utils-ts/test/public-api-surface.test.ts
Due: core, utils_ts

chore(deps): update dependency lerna to v3.9.1
  package.json
  yarn.lock
Due: none

chore(deps): pin dependency @types/pkg-up to 2.0.0
  packages/utils-node/package.json
  yarn.lock
Due: none

chore(release): publish new release [skip ci]
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/code-to-json/CHANGELOG.md
  packages/code-to-json/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/formatter/CHANGELOG.md
  packages/formatter/package.json
  packages/schema/CHANGELOG.md
  packages/schema/package.json
  packages/test-helpers/CHANGELOG.md
  packages/test-helpers/package.json
  packages/utils-node/CHANGELOG.md
  packages/utils-node/package.json
  packages/utils-ts/CHANGELOG.md
  packages/utils-ts/package.json
Due: core, cli, formatter, schema, utils_ts, test_helpers

docs: update README [skip ci]
  README.md
Due: none

v0.3.0
  packages/code-to-json/package.json
Due: none

fix(code-to-json): update package.json
  packages/code-to-json/package.json
Due: none

chore: simplify codecov configuration"
  .codecov.yml
Due: none

Path conditions:
  core: any of: packages/core/, but not: samples, packages/code-to-json, packages/test-helpers/test-cases
  cli: any of: packages/cli/, but not: samples, packages/code-to-json, packages/test-helpers/test-cases
  utils: any of: packages/utils/, but not: samples, packages/code-to-json, packages/test-helpers/test-cases
  formatter: any of: packages/formatter/, but not: samples, packages/code-to-json, packages/test-helpers/test-cases
  schema: any of: packages/schema/, but not: samples, packages/code-to-json, packages/test-helpers/test-cases
  utils_ts: any of: packages/utils-ts/, but not: samples, packages/code-to-json, packages/test-helpers/test-cases
  test_helpers: any of: packages/test-helpers/, but not: samples, packages/code-to-json, packages/test-helpers/test-cases
